<style type="text/css">
#{{widget.uuid}} {
    height: {{widget.height}}px;
    width: {{widget.width}}px;
    position: absolute;
    left: 4px;
    top: 5px;
    background: {{widget.background}};
}
</style>

<script>
(function() {
  function render() {
    $('#{{widget.uuid}}').cytoscape({
        elements: {
            nodes: {{widget.nodes()}},
            edges: {{widget.edges()}}
        },

        layout: {
            name: '{{widget.layout}}'
        },

        boxSelectionEnabled: true,

        ready: function() {
            window.cy = this;
            cy.fit();
            //cy.style().fromJson({{widget.style}}).update();
        }
    });
  }

  var before_render = function(){
    if(window['cytoscape'] === undefined){
      console.log("Waiting for Cyjs...");
      window.addEventListener("load_cytoscape", before_render);
    } else {
      console.log("Ready to render graph!");
      render();
    }
  }

  before_render();

})();
</script>
