<style type="text/css">
#{{e.uuid}} {
    height: {{e.height}}px;
    width: {{e.width}}px;
    position: absolute;
    left: 4px;
    top: 5px;
    background: {{e.background}};
}
</style>

<script>
$(function() {
    console.log("Loading graph {{e.uuid}} ...");
    $('#{{e.uuid}}').each(function() {
        var graph = cytoscape({
            container: document.getElementById("{{e.uuid}}"),

            styleEnabled: true,

            style: [
                {
                    selector: "node",
                    style: {
                        "label": "data(id)"
                    }
                },
                {
                    selector: "edge",
                    style: {
                        "curve-style": "bezier",
                        "target-arrow-shape": "triangle"
                    }
                },
                {
                    selector: "node[value > 0]",
                    style: {
                        "background-color": "rgb(255,0,0)",
                    }
                },
                {
                    selector: "node[value < 0]",
                    style: {
                        "background-color": "rgb(0,255,0)"
                    }
                }
            ],

            elements: {
                nodes: {{e.nodes()}},

                edges: {{e.edges()}}
            },

            layout: {
                name: '{{e.layout}}'
            },

            boxSelectionEnabled: true,
        });
    });
    console.log("Graph loaded.");
});
</script>
